input,textarea,button{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 10px;
}

.item-site{
    grid-area: site;
}
     
.item-email{
    grid-area: email;
}
    
.item-password{
    grid-area: password;
}
 
.item-description{
    grid-area: description;
}

.item-submit{
    grid-area: submit;
    border:0px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    position: relative;
    z-index: 1; /* matters! */
    overflow: hidden;
}
.item-submit svg{
    margin-right: 6px;
}

.item-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(180deg, rgba(223,223,223,1) 0%, rgba(102,120,218,1) 50%);
    transition: transform 0.4s;
    z-index: -1;
}
.item-submit:hover::before {
    transform: translateY(-50%);
}

#input-error{
    border:2px solid #c43838;
    border-radius:5px;
    grid-area: error;
    padding: 10px;
    display: none;
}

form{
    display: grid;
    gap:17px;
    margin:20px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px auto;
    grid-template-areas: 
        "site site"
        "email password"
        "description description"
        "submit submit"
        "error error";
}
