@import url("//fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body{
  background-color: #282c34;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  overflow: auto;
}
.inside_content{
  width: 95%;
  background: #fff;
  height: 80vh;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}